.address-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.address-fields {
  width: 40%;
  margin: auto;
}

.addAddress {
  font-weight: bold;
  color: #075f5f;
  text-align: center;
}

;
.btnSubmit {
  width: 100%;
}