.main-container-box{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.sub-main-container-box{
  width: 40%;
}
.orders{
  width: 60%;

}
.profile-box{
  width: 70%;
  margin: auto;
  height: 88%;
  margin-top: 13%;
  padding-top: 20%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.profile-box p{
  text-align: center;
  font-weight: 500;
  font-size: 20px;
}
.pic-box{
 text-align: center;

}
.pic{
  width: 100px;
  border-radius: 50%;
}